.container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  border: 1px solid black;
  position: relative;
}

.inputBox > input {
  border: 0;
  padding: 10px;
  width: calc(100% - 40px);
}

.inputBox > input:focus-visible {
  outline: none;
}

.crossIcon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  cursor: pointer;
}

button {
  margin-top: 20px;
}

.todoList {
  padding: 0;
  list-style: none;
}

.todoList input {
  width: calc(100%-20px);
}

.todoList > li {
  margin-bottom: 20px;
}

.todoList .crossIcon {
  right: -20px;
}
